.headerContainer {
  font-family: "Hind";
  max-width: 95%;
  width: 90%;
  height: 70px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 7fr 2fr;
  gap: 0px 0px;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Canal+";
  color: white;
  font-weight: bold;
  font-size: 1.1em;
  text-transform: uppercase;
  background-color: #000000;
  letter-spacing: 1px;
  width: fit-content;
  height: fit-content;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2em;
}

.menu {
  max-width: 100%;
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.menu li {
  color: white;
  list-style: none;
  cursor: pointer;
  font-family: 2rem;
}

.menu li:hover {
  color: #ec3655;
  transition: color ease-in-out 300ms;
}

.userContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: flex-end;
  gap: 1em;
}

.subscribetBtn {
  border: none;
  height: 2rem;
  padding: 8px;
  display: flex;
  align-items: center;
  background-color: #ec3655;
  color: #fff;
  font-size: 0.875rem;
  font-family: "Canal+";
  border-radius: 2px;
  cursor: pointer;
}

.profilIconBCG,
.searchIconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profilIconBCG {
  border-radius: 50%;
  background-color: #fff;
}

.profilIcon {
  padding: 5px;
}

.menuBurger {
  cursor: pointer;
}

@media (max-width: 996px) {
  .navBar {
    display: none;
  }

  .headerContainer {
    padding-top: 0;
    grid-template-columns: 1fr 1fr;
    height: 55px;
  }

  .logo {
    font-size: 15px;
    justify-content: flex-start;
  }
}

@media (max-width: 1400px) {
  .navBar {
    padding-left: 0;
  }

  .menu {
    width: 100%;
  }
}
