/* SideBar.module.css */

.sideBar {
  width: 500px;
  /* border: 1px solid hotpink; */
  padding: 15px;
  background-color: rgb(97 96 96 / 35%);
  position: fixed;
  right: 0;
  /* top: 0; */
  transition: tranform 400ms ease-in-out;
}

.menuList {
  color: white;
  font-family: "Hind";
  list-style: none;
}
.subscribeBtn {
  border: none;
  height: 2rem;
  width: fit-content;
  padding: 8px;
  display: flex;
  align-items: center;
  background-color: #ec3655;
  color: #fff;
  font-size: 0.875rem;
  font-family: "Canal+";
  border-radius: 2px;
  cursor: pointer;
}
